a {
	&.link {
		color: $blue;
		text-decoration: none;
		&_white {
			color: $white;
		}
		&_blue {
			color: $blue;
			&:hover {
				@include transition();
				color: $orange;
			}
			&:hover > .svg-color_blue {
				@include transition();
				stroke: $orange;
			}
		}
		&_underline {
			text-decoration: underline;
		}
	}
}