.title-h1 {
	margin-top: 0;
	margin-bottom: 10.8rem;
	font-size: 6.4rem;
	font-weight: 800;
	line-height: 1.13;
	&_gray {
		color: $gray;
	}
}
.title-h3 {
	margin-top: 0;
	font-size: 3rem;
	font-weight: 800;
	line-height: 1.13;
	color: $gray;
}