<footer class="theme-blue">
    <div class="container section section_max-content">
		<div class="title-h1">Как получить сертификаты</div>

		<div class="steps">
			<div class="steps__step step">
				<div class="step__number padding-right_16">1</div>
				<div class="step__text padding-right_16">Оформить заявку</div>
				<div class="step__arrow">
					<img src="../../img/arrow_big.png" alt="arrow">
				</div>
			</div>

			<div class="steps__step step">
				<div class="step__number padding-right_16">2</div>
				<div class="step__text padding-right_16">Заключить договор</div>
				<div class="step__arrow">
					<img src="../../img/arrow_big.png" alt="arrow">
				</div>
			</div>

			<div class="steps__step step">
				<div class="step__number padding-right_16">3</div>
				<div class="step__text padding-right_16">Оплатить счёт</div>
				<div class="step__arrow">
					<img src="../../img/arrow_big.png" alt="arrow">
				</div>
			</div>

			<div class="steps__step step">
				<div class="step__number padding-right_16">4</div>
				<div class="step__text padding-right_16">Получить заказ</div>
				<div class="step__arrow">
					<img src="../../img/arrow_big.png" alt="arrow">
				</div>
			</div>
		</div>

		<div class="distributor">
			<a href="javascript:void(0);" id="distributor-link" class="distributor__link link link_white text_20 text_bold">
				<svg x="12" y="18" viewBox="0 0 12 18" id="svg-arrow" class="distributor__arrow svg-color_white svg-arrow svg-arrow_down" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#arrow"></use>
				</svg>
				<span class="text_underline">Если ваш заказ менее 60 000 рублей, обратитесь к нашим дистрибьюторам</span>
			</a>
			<div id="distributor-box" class="margin-right_32 margin-left_32">
				<div class="margin-bottom_32 row-flex">
					<ul class="distributor__list list text_20">
						<li class="distributor__item text_bold">«Дарить легко»</li>
						<li class="distributor__item text_light">+7 (495) 742-77-47</li>
						<li class="distributor__item text_light">пн-пт, 09:00 - 18:30</li>
						<li class="distributor__item text_light"><a href="javascript:void(0);" class="link link_white link_underline">mygiftcard.ru</a></li>
					</ul>

					<ul class="distributor__list list text_20">
						<li class="distributor__item text_bold">«Дари подарки»</li>
						<li class="distributor__item text_light">+7 (495) 221-10-77</li>
						<li class="distributor__item text_light">пн-пт, 09:00 - 18:00</li>
						<li class="distributor__item text_light"><a href="javascript:void(0);" class="link link_white link_underline">daripodarki.ru</a></li>
					</ul>

					<ul class="distributor__list list text_20">
						<li class="distributor__item text_bold">«Без барана»</li>
						<li class="distributor__item text_light">+7 (499) 248-22-87</li>
						<li class="distributor__item text_light">пн-пт, 10:00 - 19:00</li>
						<li class="distributor__item text_light"><a href="javascript:void(0);" class="link link_white link_underline">bezbarana.ru</a></li>
					</ul>
				</div>

				<div class="row-flex">
					<ul class="distributor__list list text_20">
						<li class="distributor__item text_bold">«Giftery»</li>
						<li class="distributor__item text_light">8 (800) 700-90-90</li>
						<li class="distributor__item text_light">Круглосуточно</li>
						<li class="distributor__item text_light"><a href="javascript:void(0);" class="link link_white link_underline">giftery.ru</a></li>
					</ul>

					<ul class="distributor__list list text_20">
						<li class="distributor__item text_bold">«Заказ подарка»</li>
						<li class="distributor__item text_light">+7 (495) 215-06-50</li>
						<li class="distributor__item text_light">пн-пт, 09:00 - 18:00</li>
						<li class="distributor__item text_light"><a href="javascript:void(0);" class="link link_white link_underline">zakazpodarka.ru</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/main.js"></script>