<header class="header theme-blue">
	<div class="row-flex row-flex_vertical-center container">
		<div class="row-flex__col row-flex__col_shrink margin-right_32">
			<img src="../img/logo-ozon.svg" alt="logo" class="header__logo">
		</div>
		<div class="row-flex__col row-flex__col_shrink margin-left_32 margin-right_32">
			<nav>
				<a href="javascript:void(0);" class="link link_white margin-right_32">Вакансии</a>
				<a href="javascript:void(0);" class="link link_white margin-right_32">Стажировка</a>
				<a href="javascript:void(0);" class="link link_white margin-right_32">О компании</a>
				<a href="javascript:void(0);" class="link link_white">Факты</a>
			</nav>
		</div>
		<div class="row-flex__col row-flex__col_shrink">
			<img src="../img/icon-search.svg" alt="logo" class="header__search">
		</div>
		<div class="row-flex__col row-flex__col_right">
			+7(495) 232-10-44
		</div>
	</div>
</header>