<svg class="svg-icon" width="0" height="0" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="arrow">
        <path d="M2 16L10 9L2 2" stroke-width="2" stroke-linecap="square"/>
    </g>
</svg>