<section class="advantages theme-gray">
	<div class="container section section_max-content">
		<h1 class="title-h1 title-h1_gray">Преимущества корпоративных сертификатов OZON.ru</h1>
		<div class="advantages__row row-flex">
			<div class="advantages__col row-flex__col row-flex__col_shrink margin-right_32">
				<h3 class="advantages__h3 title-h3 margin-bottom_16">Широкий ассортимент</h3>
				<div class="text_20">
					Получатель подарка сможет выбрать на OZON.ru из множества товаров: от современных гаджетов до антикварной посуды
				</div>
			</div>
			<div class="advantages__col row-flex__col row-flex__col_shrink margin-right_32">
				<h3 class="advantages__h3 title-h3 margin-bottom_16">Лично в руки или по электронной почте</h3>
				<div class="text_20">
					Дарите сертификат в виде подарочной пластиковой карты или отправьте электронную открытку с промокодом
				</div>
			</div>
		</div>
		<div class="advantages__row row-flex">
			<div class="advantages__col row-flex__col row-flex__col_shrink margin-right_32">
				<h3 class="advantages__h3 title-h3 margin-bottom_16">Любой номинал и персональный дизайн.</h3>
				<div class="text_20">
					Мы подстроимся под ваш бюджет и учтём индивидуальные пожелания. (Услуги персонального дизайна и выбора номинала на пластиковых картах доступны за дополнительную плату.)
				</div>
			</div>
			<div class="advantages__col row-flex__col row-flex__col_shrink margin-right_32">
				<h3 class="advantages__h3 title-h3 margin-bottom_16">Качественный сервис.</h3>
				<div class="text_20">
					Официальная гарантия на товары, безналичная оплата, круглосуточная поддержка колл-центра.
				</div>
			</div>
		</div>
		<div class="advantages__row row-flex">
			<div class="advantages__col row-flex__col row-flex__col_shrink margin-right_32">
				<h3 class="advantages__h3 title-h3 margin-bottom_16">Срок действия — 3 года.</h3>
				<div class="text_20">
					Вы можете распланировать бюджет на корпоративные мероприятия заранее.
				</div>
			</div>
			<div class="advantages__col advantages__col-pdf row-flex__col row-flex__col_shrink margin-right_32">
				<h3 class="advantages__h3 title-h3 margin-bottom_16">Скидочная программа</h3>
				<div class="text_20">
					Скачайте наши специальные предложения.
				</div>
				<a href="javascript:void(0);" class="advantages__icon-pdf"></a>
			</div>
		</div>
	</div>
</section>