<section class="banner theme-gray">
	<div class="container section section_max-content">
		<div class="row-flex">
			<div class="row-flex__col">
				<h1 class="banner__h1 title-h1 title-h1_gray padding-right_32">Корпоративные сертификаты OZON.ru</h1>
			</div>
			<div class="banner__description row-flex__col row-flex__col_vertical-stretch">
				<p class="text_20">Мы знаем, как угодить с подарком каждому — от сотрудников до бизнес-партнёров.</p>
				<a href="javascript:void(0);" class="text_20 link link_blue link_arrow row-flex__col_vertical-bottom">Сертификаты для физических лиц
					<svg x="12" y="18" viewBox="0 0 12 18" class="svg-color_blue svg-arrow" fill="none" xmlns="http://www.w3.org/2000/svg">
						<use xlink:href="#arrow"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="banner__buttons row-flex">
			<div class="row-flex__col">
				<button class="button margin-rigth_16">Заказать</button>
			</div>
			<div class="row-flex__col">
				<button class="button margin-left_16">Активировать</button>
			</div>
		</div>
	</div>
</section>