<section class="features container section">
	<div class="features__container section_max-content">
		<h1 class="title-h1 title-h1_gray ">Универсальный подарок для любых корпоративных событий</h1>
	</div>
	<div class="row-flex row-flex_vertical-center padding-top_64 padding-bottom_64">
		<div class="features__col row-flex__col">
			<figure class="features-item">
				<img class="features-item__img" src="../img/items/item1.svg" alt="item1">
				<figcaption class="features-item__description text_20">Маркетинговые<br>промоакции</figcaption>
			</figure>
		</div>
		<div class="features__col row-flex__col row-flex__col_center">
			<figure class="features-item">
				<img class="features-item__img" src="../img/items/item2.svg" alt="item1">
				<figcaption class="features-item__description text_20">Мотивация<br>сотрудников</figcaption>
			</figure>
		</div>
		<div class="features__col row-flex__col row-flex__col_right">
			<figure class="features-item">
				<img class="features-item__img" src="../img/items/item3.svg" alt="item1">
				<figcaption class="features-item__description text_20">Подарки на официальные праздники</figcaption>
			</figure>
		</div>
	</div>
	<div class="row-flex row-flex_vertical-center padding-top_64 padding-bottom_64">
		<div class="features__col row-flex__col row-flex__col_shrink">
			<figure class="features-item">
				<img class="features-item__img" src="../img/items/item4.svg" alt="item1">
				<figcaption class="features-item__description text_20">Подарки<br>клиентам</figcaption>
			</figure>
		</div>
		<div class="features__col row-flex__col row-flex__col_shrink row-flex__col_center">
			<figure class="features-item">
				<img class="features-item__img" src="../img/items/item5.svg" alt="item1">
				<figcaption class="features-item__description text_20">Сувениры для мероприятий</figcaption>
			</figure>
		</div>
	</div>
</section>