// margin
.margin_32 {
	margin: 3.2rem;
}
.margin_16 {
	margin: 1.6rem;
}

// margin 32
.margin-top_32 {
	margin-top: 3.2rem;
}
.margin-bottom_32 {
	margin-bottom: 3.2rem;
}
.margin-left_32 {
	margin-left: 3.2rem;
}
.margin-right_32 {
	margin-right: 3.2rem;
}

// margin 16
.margin-top_16 {
	margin-top: 1.6rem;
}
.margin-bottom_16 {
	margin-bottom: 1.6rem;
}
.margin-left_16 {
	margin-left: 1.6rem;
}
.margin-rigth_16 {
	margin-right: 1.6rem;
}

// padding
.padding_30 {
	padding: 3rem;
}
.padding_16 {
	padding: 1.6rem;
}

// padding 64
.padding-top_64 {
	padding-top: 6.4rem;
}
.padding-bottom_64 {
	padding-bottom: 6.4rem;
}

// padding 32
.padding-top_32 {
	padding-top: 3.2rem;
}
.padding-bottom_32 {
	padding-bottom: 3.2rem;
}
.padding-left_32 {
	padding-left: 3.2rem;
}
.padding-right_32 {
	padding-right: 3.2rem;
}

// padding 16
.padding-top_16 {
	padding-top: 1.6rem;
}
.padding-bottom_16 {
	padding-bottom: 1.6rem;
}
.padding-left_16 {
	padding-left: 1.6rem;
}
.padding-right_16 {
	padding-right: 1.6rem;
}