html {
	font-size: 10px;
}
body {
	min-width: $min-width;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	line-height: 1.4;
	color: #000000;
}

*:focus {
	outline: none;
}

figure {
	margin: 0;
}

.container {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.section {
	padding: 15.7rem 3.2rem;
	&_max-content {
		max-width: $max-width-content;
	}
}
.theme-gray {
	background: $light-gray;
}
.theme-blue {
	background: $blue;
	color: $white;
}

.text {
	&_bold {
		font-weight: bold;
	}
	&_light {
		font-weight: 300;
	}
	&_20 {
		font-size: 2rem;
		line-height: 1.4;
	}
	&_underline {
		text-decoration: underline;
	}
}
.svg {
	&-icon {
		display: none;
	}
	&-color {
		&_blue {
			stroke: $blue;
		}
		&_white {
			stroke: $white;
		}
	}
	&-arrow {
		width: 12px;
		height: 18px;
		margin-top: -3px;
		vertical-align: middle;
		&_down {
			transform: rotate(90deg);
		}
	}
}

@media screen and (max-width: $tablet) {
	html {
		font-size: 9px;
	}
}