@mixin transition($item: all, $move: ease, $time: 0.5s) {
	-webkit-transition: $item $move $time;
	-moz-transition: $item $move $time;
	-ms-transition: $item $move $time;
	-o-transition: $item $move $time;
	transition: $item $move $time;
}
  