.row-flex {
	display: flex;
	align-items: flex-start;
	
	&_vertical-center {
		align-items: center;
	}

	&__col {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		flex-basis: 1%;

		&_vertical-center {
			align-self: center;
		}
		&_vertical-bottom {
			align-self: flex-end;
		}
		&_vertical-top {
			align-self: flex-start;
		}
		&_vertical-stretch {
			align-self: stretch;
		}

		&_shrink {
			flex-grow: 0;
			flex-basis: auto;
		}
		&_right {
			justify-content: flex-end;
		}
		&_center {
			justify-content: center;
		}

	}
}