//размеры контента
$min-width: 960px;
$max-width: 1310px;
$max-width-content: 1176px;

$tablet: 1024px;

//цвета
$blue: #005BFF;
$gray: #4F4F4F;
$light-gray: #F1F1F1;
$white: #ffffff;
$orange: #ff8400;

//текст
$text-gray: $gray;

