.advantages {
	&__row {
		margin-bottom: 8rem;
	}
	&__col {
		width: 40rem;
	}
	&__col-pdf {
		max-width: 15rem;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 15rem;
			bottom: 0.5rem;
			display: block;
			width: 6.3rem;
			height: 10.7rem;
			background: url(../../img/wave.svg) no-repeat center;
		}
	}
	&__icon-pdf {
		position: absolute;
		top: 5.7rem;
		left: 22.5rem;
		display: block;
		width: 7rem;
		height: 9rem;
		background: url(../../img/pdf.svg) no-repeat center;
	}
	&__h3 {
		min-height: 6.4rem;
	}
}