.distributor {
    &__link {
        display: block;
        margin-bottom: 6rem;
    }
    &__list {
        width: 18rem;
        margin-right: 13rem;
    }
    &__arrow {
        width: 3.2rem;
    }
}