.features {
	&__col {
		width: 33.3%;
	}
	&__container {
		margin: 0 auto;
	}
	&-item {
		text-align: center;
		&__img {
			display: block;
		}
		&__description {
			display: inline-block;
			max-width: 15.4rem;
			padding-top: 1rem;
			text-align: left;
		}
	}
}