.steps {
    margin-bottom: 14rem;
}
.step {
    display: inline-block;
    margin-right: 2.8rem;
    &__number {
        display: inline-block;
        font-size: 64px;
        font-weight: 800;
        line-height: 1.13;
    }
    &__text {
        display: inline-block;
        max-width: 12.8rem;
        font-size: 26px;
        line-height: 1.08;
    }
    &__arrow {
        display: inline-block;
        vertical-align: bottom;
    }
}